<!DOCTYPE html>
<html>
<body>
<div class="message">
  <h1>Welcome <%= @user.user %> <br>
  You have logged in <%= @user.count %> times.</h1>
  <%= button_to 'Logout', :action => 'sign_in' %>
</div>
<% if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
      <% end %>
<% end %>
</body>
</html>